@import url(https://fonts.googleapis.com/css?family=Varela+Round);


body {
  font-family: "Varela Round", sans-serif;
  margin: 0;
  padding: 0;
}

.rings_loading {
  background-color: aliceblue;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  z-index: 999;
}