.container {
  top: 1vh;
  margin: auto;
  border-radius: 25px;
  max-height: 90vh;
  max-width: 97%;
  overflow: hidden;
  position: relative;

  background: linear-gradient(218deg, #000000, #182e1b, #000000, #0b2407, #0d130a);
  background-size: 800% 800%;
  animation: bg-animation 50s ease-in-out infinite; 

  @keyframes bg-animation {
    0%{background-position:0% 48%}
    50%{background-position:100% 53%}
    100%{background-position:0% 48%}
  }
}

// .container:before,
// .container:after {  
    // display: block;    
    // height: 0;    
    // overflow: hidden; 
// }
// .container:after { clear: both; }
// .container { zoom: 1; }
// 

.radar_btn {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 1%;
  right: 1%;
  
  button {
    margin: 1px;
    max-width: 30px;
    border: none;
    background-color: #1f6413;
    transition: all 0.3s ease-in-out;
    &:hover{
      background-color: #0b3a03;
      transform: scale(1.13);
    }
  }
}